* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highligh-color: rgba(255, 255, 255, 0.2);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/Background.png);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.5);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highligh-color: rgba(0, 0, 0, 0, 0.1);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  /*background: color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  margin: 56px auto 0px;
  width: 360px;
  padding: 0 24px;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
  height: 111px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}

ul img a {
  background: var(--highligh-color);
}

/*Links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blir(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/*pseudo-selector */
ul li a:hover {
  background: var(var-surface-color-hover);
  border: 1px solid white;
}

footer {
  padding: 24px 0px;
  text-align: center;
  font-size: 14px;
}
